# Compiled Object files
objects/
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled binary
bin/

# vim Files
*.swp
*.swo
*~
CMakeLists.txt.user

# Build directories
Debug/
Release/
